body {
  margin: 10% 25%;
  border: 2px solid #C1C1C1;
  border-radius: 2px;
}

header {
  background: #2886CF;
  color: white;
}

h2 {
  margin: 0;
  padding: 1rem 1.5rem;
  font-family: system-ui;
  font-weight: lighter;
}

#formInput {
  padding: 1.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.input {
  border: none;
}

*:before {
  color: #C1C1C1;
  padding-right: .5rem;
}

.fa {
  flex: 1 100%;
  padding: .5rem;
  margin: .5rem;
  border: 2px solid #C1C1C1;
  border-radius: 3px;
}

#user-language {
  background: white;
  height: 2rem;
  flex: 1 100%;
  padding: .5rem;
  margin: .5rem;
  border: 2px solid #C1C1C1;
  border-radius: 3px;
}

#user-comment {
  height: 4rem;
  border: none;
  resize: none;
}

footer {
  background: #C4DDF2;
}

button {
  background: #2886CF;
  color: white;
  padding: .5rem;
  margin: 1rem;
  border: 1px solid #2886CF;
  border-radius: 2px;
}
